.btn-blue {
	background-color:#FF9B85;
	padding: 20px 40px;
	width: 45px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	font-size: 10px;
	text-align: center;
}






